<h1>Registrar Clientes</h1>

<form [formGroup]="clientForm">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" required>

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <label for="email">Email: </label>
  <input id="email" type="text" formControlName="email">

  <label for="phone">Phone: </label>
  <input id="phone" type="text" formControlName="phone">

  <label for="dni">Dni: </label>
  <input id="dni" type="text" formControlName="dni">

  <label for="country">Country: </label>
  <input id="country" type="text" formControlName="country">
  <button 
    type="button" 
    [disabled]="!clientForm.valid"
    (click)="createClient()">Save Changes</button>
</form>

<hr>

<table class="table-head">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Dni</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <td>{{client.firstName}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.email}}</td>
      <td>{{client.phone}}</td>
      <td>{{client.dni}}</td>
      <td>{{client.country}}</td>
    </tr>
  </tbody>
</table>